{% extends "base.html" %}
{% load i18n %}

{% block body %}
<div id="login_form">
    <div class="error_box">
        {%if form.errors %}
            <p> {% trans "Invalid username/password combination, please try again" %} </p>
        {% endif %}
    </div>
    <form action="{% url django.contrib.auth.views.login %}" method="post">
    {% csrf_token %}
        {{form.username.label_tag}}{{form.username}}
        {{form.password.label_tag}}{{form.password}}
        <input type="submit" id="submit" name="submit" value="{% trans "Sign in" %}" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <div id="register_lost_account">
        <a href="password_reset/" id="forgot">
            {% trans "forgot username/password" %}
        </a><br />
        <a href="register" id="new">{% trans "new user" %}</a>
    </div>
</div>
{% endblock %}